{% extends "dashboard/base.html" %}
{% block content %}

{% include "dashboard/filterboard.html" %}
<body onload="formatTable()"></body>
  
  <nav>
    <div class="nav nav-tabs" id="dashboard-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" 
      type="button" role="tab" aria-controls="nav-home" aria-selected="true" onclick="formatStandardView(this)">
        Standard View
      </button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-checkin" 
      type="button" role="tab" aria-controls="nav-checkin" aria-selected="false" onclick="formatCheckInView(this)">
        Check In View
      </button>
      <button class="nav-link" id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" 
        type="button" role="tab" aria-controls="nav-calendar" aria-selected="false" onclick="calendarView(this)">
        Calendar View
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- This is the standard table view -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      {% include "dashboard/standardTable.html" %}
    </div>
    <div class="tab-pane fade" id="nav-checkin" role="tabpanel" aria-labelledby="nav-checkin-tab" tabindex="0">
      {% include "dashboard/checkinTable.html" %}
    </div>
    <div class="tab-pane fade" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab" tabindex="0">
      {% include "dashboard/calendarTable.html" %}
    </div>
  </div>
  
  <div style="display: none;" id="currentUser">{{ user.username }}</div>
  <div style="display: none;" id="userDiscordId">{{ user.profile.discordId }}</div>

  {% include "dashboard/reviewboard.html" %}
  {% include "dashboard/checkinboard.html" %}
</body>
{% endblock content %}