{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="objectives-section">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="carousel-caption text-left">
          <h1 class="header-topic">Join the Community</h1>
          <p>Connect with like-minded individuals and enhance your learning journey by joining our Discord community.</p>
          <a href='https://discord.gg/study-group-1046106445617311824' target="_blank" class="btn btn-primary btn-lg rounded-5">Join Discord</a>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="carousel-caption">
          <h1 class="header-topic">Visualize the Progress</h1>
          <p>Track and visualize study progress for increased productivity and academic success.</p>
          <a href="#example" class="btn btn-primary btn-lg rounded-5">See Example</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption text-right">
          <h1 class="header-topic">LeetCode Tracking</h1>
          <p>Effortlessly monitor your coding challenges, analyze performance, and optimize your coding skills.</p>
          <a href='#checkin' class="btn btn-primary btn-lg rounded-5">Checkmate</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'dashboard/image/collaboration.jpg' %}" alt="Generic placeholder image" width="140" height="140">
        <h3 style="margin-top: 30px;">𝕮𝖔𝖑𝖑𝖆𝖇𝖔𝖗𝖆𝖙𝖎𝖔𝖓</h3>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'dashboard/image/idea.jpg' %}" alt="Generic placeholder image" width="140" height="140">
        <h3 style="margin-top: 30px;">𝕴𝖉𝖊𝖆</h2>
     </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'dashboard/image/improvement.jpg' %}" alt="Generic placeholder image" width="140" height="140">
        <h3 style="margin-top: 30px;">𝕴𝖒𝖕𝖗𝖔𝖛𝖊𝖒𝖊𝖓𝖙</h3>
    </div>
    </div>

    <!-- START THE FEATURETTES -->

  <div id="example"></div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">Study Tracker. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Study Tracker: Elevate your learning experience, track your achievements, and stay focused on academic success.</p>
    </div>
  </div>
  <div class="row featurette" style="margin-top: 50px;">
    <div class="col-md-12">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'dashboard/image/Pic1.png' %}" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Customize study data and download to Excel for insightful analysis. Stay in control of your progress with our study tracker.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'dashboard/image/Pic2.png' %}" data-holder-rendered="true">
    </div>
  </div>

  <div id="checkin"></div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">And lastly, LeetCode Tracker. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">What to keep track on your leetcode or get help from others? check out our leetcode view board.</p>
    </div>
    <div class="col-md-12">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'dashboard/image/Pic3.png' %}" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 order-md-1">
      <div class="row">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'dashboard/image/Pic4.png' %}" data-holder-rendered="true">
      </div>
      <div class="row" style="margin-top: 10%;">
      </div>
      <div class="row">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'dashboard/image/Pic5.png' %}" data-holder-rendered="true">
      </div>
    </div>
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Wait a minutes, check in views with calendar? <span class="text-muted">Here you go.</span></h2>
      <p class="lead">Use the Check-In feature to mark your progress and keep track of completed LeetCode problems effortlessly.</p>
    </div>
  </div>

  <hr class="featurette-divider">
  </div>
</div>

{% endblock content %}