{% extends "dashboard/base.html" %}
{% block content %}
<div class="objectives-section">

    <main>
        <div class="container py-4">
          <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <span class="fs-4">Welcome</span>
            </a>
          </header>
      
          <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Join Discord</h1>
              <p class="col-md-12 fs-4">
                Welcome to our website, a platform designed to support your learning and development in software engineering and finance. Our website offers a comprehensive knowledge hub that includes a wide range of LeetCode problems, FRM(TBD), and CFA(TBD) topics to help you develop and hone your skills at any level of expertise.
              </p>
            </div>
          </div>
      
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Build a Comprehensive Knowledge Hub</h2>
                <p>Comprehensive knowledge hub for professionals in the software engineering and finance industries. With a focus on LeetCode problems, FRM, and CRM topics, your website seeks to provide users with access to a wide range of problems that can help them develop and hone their skills. By offering a broad range of challenges, the website aims to cater to users at different levels of expertise, from beginners to advanced learners.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Foster a Collaborative Learning Environment</h2>
                <p>create a collaborative learning environment that enables users to connect with one another and support each other's growth. By allowing users to mark their progress on each problem and connect with others who have already solved it, the website encourages users to share their knowledge and help each other learn. This approach fosters a sense of community and helps to make the learning process more engaging and enjoyable.</p>
            </div>
            </div>
          </div>
        </div>
      </main>
    <h2></h2>

{% endblock content %}