.nav {
  text-size-adjust: 120px;
  font-size: 1.7rem;
}

.fixed-body {
  margin-bottom: 20px;
}

.custom-container {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.fixed-bottom {
  position: fixed;
  margin: auto;
  height: 100px;
  width: 100%;
  bottom: 0px;
  background-color: white;
}
table tr td{
  vertical-align: top;
}
table th {
  text-align: center;
  vertical-align: bottom;
} 
  
ul {
  margin: 0;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.custom-select {
  width: auto;
}

.input-group>.input-group-prepend {
  flex: 0 0 30%;
}
.input-group .input-group-text {
  width: 100%;
}

.table-condensed{
  font-size: 100%;
}

#difficult-list-group .list-group {
  width: 150px;
  height: 150px;
  overflow-y: scroll;
}

#discordButton {
  border: 1px solid black;
  background: blue;
  color: white;
  font-size: large;
}

#discordMsg {
  color: black;
  background-color: white;
}

#difficult-list-group .dropdown-menu {
  width: 150px;
  max-height: 150px;
  overflow-y: auto;
}

#type-list-group .list-group {
  width: 250px;
  height: 250px;
  overflow-y: scroll;
}

#type-list-group .dropdown-menu {
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
}

#currentUser {
  display: none;
}

#userFilter {
  display: none;
}

#questionFilter {
  display: none;
}

#difficultyFilter {
  display: none;
}